.container {
  width: 100%;
  float: left;
  position: relative;
  display: block;
}
.col-md-12,
.col-lg-12 {
  width: 100%;
  float: left;
  position: relative;
  display: block;
}

.col-md-6,
.col-lg-6 {
  width: 40%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
